<% include partials/template/head %>
	<header><% include partials/template/navbar %></header> 

	<div class="container-fluid">
		<div class="row">
			<% include partials/content/add-client-form %>
		</div> <!-- row -->
	</div>   <!-- Main Container -->
	
<% include partials/template/scripts %>
<% include partials/template/footer %>