<% include partials/template/head %>
    <header><% include partials/template/navbar %></header> 
    
    <div class="container-fluid">
        <div class="row">
            <!-- CLIENT DETAILS -->
            <div class="col-6"> 
                <% include partials/content/client-details %>
            </div>

            <!-- CASE DETAILS -->
            <div class="col-6">
                <% include partials/content/case-details %>
            </div>

        </div>
    </div>   <!-- Main Container -->

<% include partials/template/scripts %>
<% include partials/template/footer %>