<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
	<header>
		<% include partials/navbar %>
	</header> <!-- Header - Nav -->

	<div class="container-fluid">
		<div class="row">
			<% include partials/new_client_form %>
		</div> <!-- row -->
	</div>   <!-- Main Container -->
	<% include partials/scripts %>
</body>
</html>