<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <header>
        <% include partials/navbar %>
    </header>    

    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/update/client/<%= client._id %>" method="post" class="bg-dark p-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" value="<%= client.name %>" >
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" value="<%= client.email %>" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="age" name="age" value="<%= client.age %>" >
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="/clients" class="btn btn-outline-warning btn-block">Cancel</a> 
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-outline-success btn-block">Save</button>
                        </div>
                    </div>
                    
                   
                </form>
            </div>
        </div>
    </div>   <!-- Main Container -->

    <% include partials/scripts %>
</body>
</html>