<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
	<header>
		<% include partials/navbar %>
	</header> <!-- Header - Nav -->

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card text-center">
					<h4 class="card-header">
						Most Recent Clients ...
					</h4>
					<div class="card-body">
						<% include partials/clients_table %>
					</div>
					<div class="card-footer text-muted">
						
					</div>
				</div>
			</div>
		</div> <!-- row -->
	</div>   <!-- Main Container -->
	<% include partials/scripts %>
</body>
</html>